.container {
    display: grid;
    width: 100%;
    height: 1200px;
    grid-template: 30px repeat(5, 1fr) / 100%;
}

.box {
    display: grid;
}

.a {
    background-color: aqua;

}

.b {
    background-color: blueviolet;
}

.c {
    background-color: chartreuse;
}

.d {
    background-color: coral;

}

.e {
    background-color: deeppink;
}

.nav {
    grid-template: 100% / repeat(6, 1fr);
    
}

.list1 {
 grid-area: 1 / 1 / 2 / span 1;
 background-color:black;
}

.list2 {
    grid-area: 1 / 2 / 2 / span 1;

}

.list3 {
    grid-area: 1 / 3 / 2 / span 1;
}


